html,
body {
  height: auto;
}

body {
  background: linear-gradient(to right, #282828, #202020);
  background-size: 100%;

}

.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
}
.bubble-toggle:hover {
  background: rgba(255, 255, 255, 0.75);
}

.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  will-change: transform;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: bubblewobble 0.4s infinite linear;
  -moz-animation: bubblewobble 0.4s infinite linear;
  -ms-animation: bubblewobble 0.4s infinite linear;
  animation: bubblewobble 0.4s infinite linear;
}

@-webkit-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-moz-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-ms-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
rowAgain {
  padding-left: 20px;
  padding-right: 20px;
}


.team {
  background-color: #140B45;
  background-size: cover;
  position: relative;
}

.teamBlurr {
  background-color: black;
  position: relative;
  opacity: .8;
  z-index: -99;
}


.pic {
  height: 325px;
  width: 250px;
  position: relative;
  border-radius: 5px;
}

 .pic:hover{
    transform: scale(1.1) translate(-0.5rem);
    z-index: 20;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.teamrow1 {
  display: flex;
  position: relative;
  width: 850px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 20px;
}

.teamrow2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 55px;
}

.teamrow3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 11vw;
}
/* Media Query for Laptop Screen*/

@media only screen and (max-width: 1366px) {
.pic{
  height: 208px;
  width: 160px;
  position: relative;
  border-radius: 5px;
  
}

   .copy {
   position: relative;
	padding: 0px 5px 0 7px;
	
    }

    

.name {
    margin-top: 0.8rem;
        font-family: americanTypeWritter, cursive;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    .title {
        color: rgba(255, 255, 255, 0.2);
        font-family: americanTypeWritter, cursive;
        font-size: 14px;
    }


}

@media screen and (max-width: 1366px) {
  
  .teamrow3 {
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
}

/*Media Query Laptop Screen Ends*/
.pic8 {
  
  background-size: cover;
  align-content: center;
  margin-left: 50px;
}

.pic9 {
 
  background-size: cover;
  align-content: center;
  margin-left: 50px;
}

.pic10 {
  background-image: url(images/riyad.jpg);
  background-size: cover;
  align-content: center;
  margin-left: 50px;
}

.pic11 {
  background-image: url(images/dhrubo.jpg);
  background-size: cover;
  align-content: center;
  margin-left: 50px;
}

.pic:hover {
  border-color: black;
  opacity: 1;
  box-shadow: -0px -0px white, 3px -3px 20px white;
}

.nai {
  height: 10vh;
  width: 100%;
}

.copy {
  position: absolute;
	padding: 45px 20px 0 30px;
	bottom: 10px;
	height: 76px;
}



.well {
  color: black;
}

.name {
    margin-top: 0.8rem;
        font-family: americanTypeWritter, cursive;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    .title {
        color: rgba(255, 255, 255, 0.2);
        font-family: americanTypeWritter, cursive;
        font-size: 14px;
    }


.Tname {
  font-size: 20px;
  width: 180px;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 5px;
  border-bottom: solid 2px;
}

.Ttitle {
  font-size: 15px;
  padding-bottom: 5px;
}

.TDetails {
  padding: 18px;
  font-size: 15px;
}

.Tbutton {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.SFullcontainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left 0px;
  z-index: 1000;
  display: none;
}

.Sinfo {
  width: 480px;
  height: 600px;
  margin: 5px auto;
  position: relative;
  background-image: url(images/white-paper-texture-hd.jpg);
  background-repeat: repeat;
  border-radius: 5px;
}

.SreadMoreImg {
  width: 160px;
  height: 180px;
  margin: 0 auto;
  background-image: url(images/sonia.jpg);
  background-size: cover;
  padding-bottom: 30px;
  border-radius: 3px;
}

.Sname {
  font-size: 20px;
  width: 180px;
  margin: 0 auto;
  padding-left: 30px;
  padding-top: 5px;
  border-bottom: solid 2px;
}

.Stitle {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.SDetails {
  padding: 18px;
  font-size: 16px;
}

.Sbutton {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.first-box {
  padding: 60px;
  width: 50%;
  height: 300px;
  border-right: solid #ffffff;
  border-width: 1px;
  background: rgba(15, 10, 10, .7);
}

.second-box {
  padding: 60px;
  width: 50%;
  background: rgba(10, 20, 22, .7);
}

.third-box {
  padding: 60px;
  width: 50%;
  height: 300px;
  background: rgba(10, 20, 22, .7);
}

.fourth-box {
  padding: 10px;
  background: rgba(10, 20, 22, .7);
}


/*Styles fo contact image background*/

.contact_col_left:hover {
  background: url(images/contact-us1.png) no-repeat center center;
}

.contact_col_right:hover {
  background: url('images/contact-us2.jpg') no-repeat center center;
}
