body
{
   background-image: linear-gradient(to right bottom, rgba(178,190,181,0.9), rgba(189,199,191,0.9)),
        url("../images/Fish_full_image.png");
}
/*.main
{
    margin:0 auto;
    background-color:#fed62f;
    
    background-color: #fff176;
    opacity: 1;
    width:90vw;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}*/


.row{
    width:80vw;
    margin: 0 auto;
}
.blank
{
    height: 10vh;
}

.ourImage img {
   
       padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
    /*S*/
}
.head
{
    color:whitesmoke;
    font-family: cursive;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 55px;
}