/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Englebert);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-image: linear-gradient(to right bottom, rgba(178,190,181,0.9), rgba(189,199,191,0.9));
    /*
    background-color: rgba(178,190,181,0.9);
    background: url(../images/noisebg.png);*/
    font-weight: 400;
    font-size: 15px;
    color: #333;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main,
.container > header {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #dc4e2a;
	float: left;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.container > header p {
	float: right;
	padding-top: 10px;
	color: #dc4e2a;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.main p {
	text-align: center;
	padding-top: 60px;
	color: #a07419;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 10px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note {
	clear: both;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}