
img {
  width: 100%;
}

.cloud-one {
  width: 200px;
  position: absolute;
  right: -300px;
  top: 120px;
}

.cloud-two {
  width: 150px;
  position: absolute;
  right: -500px;
  top: 0;
}

.cloud {
  -webkit-animation: leisurelyCloud 60s linear alternate infinite;
  -moz-animation: leisurelyCloud 60s linear alternate infinite;
  animation: leisurelyCloud 60s linear alternate infinite;
}

@-webkit-keyframes leisurelyCloud {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-600%);
  }
}
@-moz-keyframes leisurelyCloud {
  0% {
    -moz-transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-600%);
  }
}
@keyframes leisurelyCloud {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-600%);
  }
}
.fishing-area {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 160px;
}
.fishing-area .fishing-line {
  height: 40px;
  width: 1px;
  background-color: #000;
  position: absolute;
  left: 120px;
  -webkit-animation: linedrop 3s ease-in-out infinite alternate;
  -moz-animation: linedrop 3s ease-in-out infinite alternate;
  animation: linedrop 3s ease-in-out infinite alternate;
}
.fishing-area .fishing-lure {
  width: 25px;
  position: absolute;
  left: 113px;
  top: 40px;
  -webkit-animation: droplure 3s ease-in-out infinite alternate;
  -moz-animation: droplure 3s ease-in-out infinite alternate;
  animation: droplure 3s ease-in-out infinite alternate;
}

@-webkit-keyframes droplure {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(300px);
  }
}
@-moz-keyframes droplure {
  0% {
    -moz-transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(300px);
  }
}
@keyframes droplure {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(300px);
  }
}
@-webkit-keyframes linedrop {
  0% {
    height: 40px;
  }
  100% {
    height: 340px;
  }
}
@-moz-keyframes linedrop {
  0% {
    height: 40px;
  }
  100% {
    height: 340px;
  }
}
@keyframes linedrop {
  0% {
    height: 40px;
  }
  100% {
    height: 340px;
  }
}
footer {
  height: 115px;
  width: 100%;
  overflow: hidden;
}

.wave-border {
  height: 15px;
  width: 100%;
  position: fixed;
  bottom: 100px;
  background: url("https://image.ibb.co/m2WRQd/wave_border.png") repeat-x 0 0;
}

.ocean {
  height: 100px;
  width: 105%;
  position: fixed;
  bottom: 0;
  background-color: #0077be;
}

.striper {
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 40px;
}

.swim {
  -webkit-animation: swim 3s linear both 2s infinite;
  -moz-animation: swim 3s linear both 2s infinite;
  animation: swim 3s linear both 2s infinite;
}

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translate(200%, 75%) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(100%, -55%) rotate(40deg);
  }
  40% {
    -webkit-transform: translate(0%, -125%) rotate(-20deg);
  }
  60% {
    -webkit-transform: translate(-100%, -55%) rotate(-30deg);
  }
  80% {
    -webkit-transform: translate(-200%, 75%) rotate(-50deg);
  }
  100% {
    -webkit-transform: translate(-300%, 200%) rotate(-50deg);
  }
}
@-moz-keyframes swim {
  0% {
    -moz-transform: translate(200%, 75%) rotate(0deg);
  }
  20% {
    -moz-transform: translate(100%, -55%) rotate(40deg);
  }
  40% {
    -moz-transform: translate(0%, -125%) rotate(-20deg);
  }
  60% {
    -moz-transform: translate(-100%, -55%) rotate(-30deg);
  }
  80% {
    -moz-transform: translate(-200%, 75%) rotate(-50deg);
  }
  100% {
    -moz-transform: translate(-300%, 200%) rotate(-50deg);
  }
}
@keyframes swim {
  0% {
    transform: translate(200%, 75%) rotate(0deg);
  }
  20% {
    transform: translate(100%, -55%) rotate(40deg);
  }
  40% {
    transform: translate(0%, -125%) rotate(-20deg);
  }
  60% {
    transform: translate(-100%, -55%) rotate(-30deg);
  }
  80% {
    transform: translate(-200%, 75%) rotate(-50deg);
  }
  100% {
    transform: translate(-300%, 200%) rotate(-50deg);
  }
}
.wave-border {
  width: 2000px;
  margin-left: -360px;
  -webkit-animation: waves 10s linear alternate infinite;
  -moz-animation: waves 10s linear alternate infinite;
  animation: waves 10s linear alternate infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(360px);
  }
}
@-moz-keyframes waves {
  0% {
    -moz-transform: translateX(0px);
  }
  100% {
    -moz-transform: translateX(360px);
  }
}
@keyframes waves {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(360px);
  }
}
