/*
body {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: #90caf9;
}
*/
/*
.cloud {
  width: 350px;
  height: 120px;
  background: #fff;
  border-radius: 100px;
  position: absolute;
  z-index: -50;
  box-shadow: 0 0 45px 10px rgba(0,0,0,0.161);
}
.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  z-index: -1;
}
.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}
.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}
*/
.ocean {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: #64b5f6;
}
.fish-container {
  position: absolute;
  width: 50px;
  height: 50px;
}
.fish {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 70px 10px/70px 10px;
  transform: rotate(45deg);
}
.fish-eyes {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11%;
  left: 57%;
  background: #607d8b;
  border-radius: 100%;
}
.fish-tail {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fish-tail:before,
.fish-tail:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 100%;
  left: -50%;
  border-radius: 70% 0%;
  background: #dcdcdc;
  transform-origin: top right;
}
.fish-tail:before {
  transform: rotate(-22deg);
}
.fish-tail:after {
  transform: rotate(22deg);
}
.fish,
.fish-tail:before,
.fish-tail:after {
  box-shadow: 8px 3px 17px 6px rgba(13,71,161,0.188);
}
.fish-1,
.fish-1 .fish-tail:before,
.fish-1 .fish-tail:after {
  background: #ffeb3b;
}
.fish-2,
.fish-2 .fish-tail:before,
.fish-2 .fish-tail:after {
  background: #f48fb1;
}
.fish-3,
.fish-3 .fish-tail:before,
.fish-3 .fish-tail:after {
  background: #ef9a9a;
}
.fish-4,
.fish-4 .fish-tail:before,
.fish-4 .fish-tail:after {
  background: #f48fb1;
}
.fish-5,
.fish-5 .fish-tail:before,
.fish-5 .fish-tail:after {
  background: radial-gradient(circle at top center, #ff0, #f06d06, #f00, #00f, #f00, #00f, #f00, #00f, #e91e63, #00f);
  background-position: 60px;
}
@-moz-keyframes swim {
  0% {
    left: -30%;
    transform: translate(0, 20px);
  }
  10% {
    left: 20%;
    transform: translate(0, -20px);
  }
  20% {
    left: 40%;
    transform: translate(0, 20px);
  }
  30% {
    left: 60%;
    transform: translate(0, -20px);
  }
  40% {
    left: 80%;
    transform: translate(0, 20px);
  }
  45% {
    left: 100%;
    transform: translate(0, -20px);
  }
  50% {
    left: 130%;
    transform: translate(0, 20px) scaleX(-1);
  }
  60% {
    left: 90%;
    transform: translate(0, -20px) scaleX(-1);
  }
  70% {
    left: 60%;
    transform: translate(0, 10px) scaleX(-1);
  }
  80% {
    left: 20%;
    transform: translate(0, -50px) scaleX(-1);
  }
  90% {
    left: -10%;
    transform: translate(0, 50px) scaleX(-1);
  }
  100% {
    left: -30%;
    transform: translate(0, 0) scaleX(1);
  }
}
@-webkit-keyframes swim {
  0% {
    left: -30%;
    transform: translate(0, 20px);
  }
  10% {
    left: 20%;
    transform: translate(0, -20px);
  }
  20% {
    left: 40%;
    transform: translate(0, 20px);
  }
  30% {
    left: 60%;
    transform: translate(0, -20px);
  }
  40% {
    left: 80%;
    transform: translate(0, 20px);
  }
  45% {
    left: 100%;
    transform: translate(0, -20px);
  }
  50% {
    left: 130%;
    transform: translate(0, 20px) scaleX(-1);
  }
  60% {
    left: 90%;
    transform: translate(0, -20px) scaleX(-1);
  }
  70% {
    left: 60%;
    transform: translate(0, 10px) scaleX(-1);
  }
  80% {
    left: 20%;
    transform: translate(0, -50px) scaleX(-1);
  }
  90% {
    left: -10%;
    transform: translate(0, 50px) scaleX(-1);
  }
  100% {
    left: -30%;
    transform: translate(0, 0) scaleX(1);
  }
}
@-o-keyframes swim {
  0% {
    left: -30%;
    transform: translate(0, 20px);
  }
  10% {
    left: 20%;
    transform: translate(0, -20px);
  }
  20% {
    left: 40%;
    transform: translate(0, 20px);
  }
  30% {
    left: 60%;
    transform: translate(0, -20px);
  }
  40% {
    left: 80%;
    transform: translate(0, 20px);
  }
  45% {
    left: 100%;
    transform: translate(0, -20px);
  }
  50% {
    left: 130%;
    transform: translate(0, 20px) scaleX(-1);
  }
  60% {
    left: 90%;
    transform: translate(0, -20px) scaleX(-1);
  }
  70% {
    left: 60%;
    transform: translate(0, 10px) scaleX(-1);
  }
  80% {
    left: 20%;
    transform: translate(0, -50px) scaleX(-1);
  }
  90% {
    left: -10%;
    transform: translate(0, 50px) scaleX(-1);
  }
  100% {
    left: -30%;
    transform: translate(0, 0) scaleX(1);
  }
}
@keyframes swim {
  0% {
    left: -30%;
    transform: translate(0, 20px);
  }
  10% {
    left: 20%;
    transform: translate(0, -20px);
  }
  20% {
    left: 40%;
    transform: translate(0, 20px);
  }
  30% {
    left: 60%;
    transform: translate(0, -20px);
  }
  40% {
    left: 80%;
    transform: translate(0, 20px);
  }
  45% {
    left: 100%;
    transform: translate(0, -20px);
  }
  50% {
    left: 130%;
    transform: translate(0, 20px) scaleX(-1);
  }
  60% {
    left: 90%;
    transform: translate(0, -20px) scaleX(-1);
  }
  70% {
    left: 60%;
    transform: translate(0, 10px) scaleX(-1);
  }
  80% {
    left: 20%;
    transform: translate(0, -50px) scaleX(-1);
  }
  90% {
    left: -10%;
    transform: translate(0, 50px) scaleX(-1);
  }
  100% {
    left: -30%;
    transform: translate(0, 0) scaleX(1);
  }
}
