.r_fourth_heading_responsive_rectifier{
  display: none;
  visibility: hidden;
}
@media screen and (max-device-width: 991px) {
/* to make the separator space banished from the small windows */
  .r_making-me-invisible{
    display: none;
    visibility: none;
  }

}
@media screen and (max-device-width: 768px) {
  .s_text_design, .r_text-responsive{
    font-size: 36px !important;
  }
  .r_text-shaping{
    padding-left: 15%;
    padding-right: 10%;
  }
  .first_heading{
    font-size: 5.5rem ;
  }
  .second_header{
    font-size: 5.5rem;
  }
 .third_heading{
    font-size: 5.5rem;
    margin-top: 176px;
    text-align: center;
  }
  .sixth_heading {
    font-size: 4.5rem;
    margin-top: 176px;
  }
  .t_hr{
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .third_text{
    margin-top: 2rem;
    padding: 0rem;
  }
  .t_image{
    width: 50%;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .d_right_style{
      font-size: 36px;
    }
    .slider_image4{
      height: 25%;
      width: 25%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:0px;
    }
    .fourth_1{
      margin-top: 0px;
    }
    .sixth_text{
      margin-right: 0px;
    }
    .r_size_rectifier{
      margin-top:0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom:100px;
    }
    .r_responsive_rectifier{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-right: 130px;
      margin-top: 80px;
    }
    .r_fourth_heading_responsive_rectifier{
      display: block;
      visibility: visible;
      margin-top:176px;
    }
    .r_f_heading_rectifier{
        font-size: 5.5rem;
        text-align: center;
    }
    .r_fifth_slider_image_responsive_rectifier{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .sixth_h_black_fish{
      display: block;
      padding-top: 20px;
    }


}
@media screen and (max-device-width: 500px) {
  .s_text_design,.r_text-responsive{
    font-size: 42px !important;
  }
  .r_marginFixer{
    margin-top:176px;
  }
  .d_left{
    width:100%;
  }
  .d_middle{
    display: none;
    visibility: none;
  }
  .d_parent{
    margin-top:176px !important;
  }
  .d_left_style{
    font-size: 5.5rem;
  }
  .d_right_style{
    font-size:42px !important;
  }
  .d_right{
    width: 100%;
    text-align: justify;
    margin-left: 0px;
  }
  .slider_image4{
    width: 50%;
    height:30%;
  }



}
