@font-face {
    font-family: americanTypeWritter;
    src: url(fonts/American_Typewriter_Condensed_Light.ttf);
}
.very_first_slide{
    background-image: linear-gradient(to right bottom, rgba(178,190,181,0.9), rgba(189,199,191,0.9)),
        url("../images/Fish_full_image.png");
    background-size: cover;
    height: 100vh;
    z-index: -1;
    background-position: top;
    
}
.first_slide{
    background-color: #d8d800;
}
.second_slide{
    background-color: #3e9fe6;
}
.third_slide{
    background-color: #f64f37;
}
.fourth_slide{
    background-color: 	#8A2BE2;
}
.fifth_slide{
    background-color: #343d36
}
.sixth_slide{
    background-color: #228B22;
}
.carousel-indicators li{
    margin-top: 20px;
    height: 6px;
    width: 10px;
}
.carousel-item{
    height: 100vh;
}
.slider_image{
    margin-top: 180px;
    height: 450px;
    width: 450px;
}
.flex__content{
    margin-top: 100px;
    margin-left: 80px;
    width: 80%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}
.text--big{
    width: 600px;
    color: #ffffff;
    font-family: americanTypeWritter, Helvetica, sans-serif;
    font-size: 5.5em;
    font-weight: 500;
    line-height: 80px;
    margin-left: -8px;
}
.text--big2{
    width: 600px;
    color: #ffffff;
    font-family: americanTypeWritter, Helvetica, sans-serif;
    font-size: 4.2em;
    font-weight: 500;
    line-height: 80px;
    margin-left: -8px;
}
.text--normal{
    font-family: americanTypeWritter, Helvetica, sans-serif;
    font-size: 28px;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.bg_parent
{
    margin-left: 100px;
    position: relative;
    margin-top: -100px;
}
.d_bg_img{
    float: left;
    height: 80px;
    width: 80px; 
    position: relative;
    
    filter:opacity(30%);
    
}
.bg_first_parent
{
    margin-left: 35%;
    position: absolute;
    margin-top: -3%;
}
.d_first_bg_img{
    float: left;
    height: 80px;
    width: 80px; 
    position: absolute;
    opacity: 0.7;
    top: -35%;
    margin-right: 20px;
    opacity: 0.5;
}

.first_text__background{
    float: left;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 100px;
    top: 55px;
    bottom: 0;
    color: rgba(0,0,0,0.05);
    font-size: 70px;
    font-weight: 600;
}
.fish_background{
    position: relative;
    margin-top: -6%;
}

.text__background{
    float: left;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 20px;
    bottom: 0;
    color: rgba(0,0,0,0.05);
    font-size: 120px;
    font-weight: 700;
}

/*Styles for footer*/
.footer{
    width: 100%;
    height: auto;
    background-color: #8872bf;
    background-image: url(/images/footer_background.png);
    background-repeat: repeat;
    color: #ffffff;
}
.footer img{
    height: 40px;
    width: 40px;
}
.footer_copyright{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ffffff;
}
.footer_copyright span{
    font-style: italic;
    font-weight: 600;
    color: gray;
}

/*Styles for scroll down button*/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 3px 3px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.carousel-indicators li{
    border-radius: 2px;
}