@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	padding: 0;
	margin: 0;
	
}
.contact_header{
	font-weight: 800;
	font-size: 4em;
	font-family: avenir-medium;
	margin: 15px auto;
    margin-bottom: 15px;
	width: 500px;
	color: #F90;
	text-align: center;

}

canvas {
  background: #136e89;
  width: 100%;
  height: 100%;
  overflow: auto;
}
@font-face {
    /*font-family: avenir-black;
    src: url(fonts/Avenir-Black.ttf);*/
    /*font-family: sketch-cool;
    src: url(fonts/CabinSketch-Regular.ttf);*/
    font-family: sketchbook;
    src: url(fonts/SKETCHBO.TTF);
}
@font-face {
    font-family: avenir-black;
    src: url(fonts/Avenir-Black.ttf);
}


@font-face {
    font-family: avenir-medium;
    src: url(fonts/Avenir-Medium.ttf);
}


/* Animation webkit */
@-webkit-keyframes myfirst
{
	0%
    {
        transform: translateY(-50px);
        left: -25%;
    }
	10%
    {
        transform: translateY(30px);
    }
     25%
    {
        transform: translateY(100px);
    }
	35%%
    {
        transform: translateY(150px);
    }
     50%
    {
        transform: translateY(80px);
    }
     75%
    {
        transform: translateY(20px);
    }
     100%
    {
        transform: translateY(-50px);
        left: 150%;
    }
}

/* Animation */
@keyframes myfirst
{
	0%
    {
        transform: translateY(-50px);
        left: -25%;
    }
	10%
    {
        transform: translateY(0px);
    }
     25%
    {
        transform: translateY(200px);
    }
	35%%
    {
        transform: translateY(50px);
    }
     50%
    {
        transform: translateY(70px);
    }
     75%
    {
        transform: translateY(20px);
    }
     100%
    {
        transform: translateY(-50px);
        left: 150%;
    }
}


.fish{
	background-image: url("../images/fish-last-page1.png");
	width: 330px;
	height: 150px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.fish2{
	background-image: url("../images/fish-last-page1.png");
	width: 330px;
	height: 150px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 300px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #3e9fe6 /*#11baad*/;
	overflow: hidden;
	position: relative;
	
}
@media screen and (max-width:600px){
  .form{
    height: 60% !important;
  }
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	 font-family: avenir-black;
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
    font-family: avenir-black;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
.input_submit{
	width: 300px;	
	border: none;
    margin: 0 auto;
	border-radius: 20px;
	outline: none;
	padding: 10px;
    font-family: avenir-black;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: avenir-medium;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
   font-family: avenir-medium;
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}


/* CSS for Menu starts*/
.overlay {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 200;
  background-color: #ef293a;
  transition: height 1s ease-in-out;
}
.overlay.open {
  height: 100%;
}
.overlay.open .link-wrapper {
  opacity: 1;
}
.overlay .link-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}
.overlay .link-wrapper a {
  position: relative;
  /*font-family: sketch-cool;*/
  font-family: sketchbook;
  font-weight: 600;
  font-size: 35px;
  line-height: 60px;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 0px 8px 0px 8px;
}
.overlay .link-wrapper a span {
  display: inline-block;
}
.overlay .link-wrapper a span:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width 300ms ease, background-color 300ms ease;
}
.overlay .link-wrapper a:hover {
  color: white;
}
.overlay .link-wrapper a:hover span:after {
  width: 100%;
  background-color: white;
}

.navigation {
  width: 100%;
  height: 60px;
  z-index: 400;
  position: absolute;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear:both;
}

.burger_deluxe {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 34px;
  height: 40px;
  z-index: 3;
}
.burger_deluxe .burger_global {
  position: absolute;
  border-top: 5px solid white;
  width: 100%;
}
.burger_deluxe .burger_global.top_bun {
  top: 0;
  border-radius: 20px;
  transition: transform 500ms ease, border 500ms ease;
  transform-origin: left center;
}
.burger_deluxe .burger_global.patty {
  top: 12px;
  border-radius: 20px;
  transition: opacity 500ms ease;
}
.burger_deluxe .burger_global.bottom_bun {
  top: 24px;
  border-radius: 20px;
  transition: transform 500ms ease, border 500ms ease;
  transform-origin: left center;
}
.burger_deluxe.open span {
  border-color: white;
}
.burger_deluxe.open .top_bun {
  transform: rotate(45deg);
}
.burger_deluxe.open .patty {
  opacity: 0;
}
.burger_deluxe.open .bottom_bun {
  transform: rotate(-45deg);
}

ul
{
    list-style-type: none;
}
/* CSS for Menu ends */


/* Slide Content Starts */


.d_first_parent{
    margin-top: 3%;
    margin-left: 20%;
    position: relative;
}
                                  
.d_first_left {
     width: 20%;
    height: 260px;
    float: left;
    position: relative;
    /*border: 1px solid;*/
  
}

.d_first_left_style{
    font-family: americanTypeWritter, Helvetica, sans-serif;
    text-transform: lowercase;
    font-stretch: expanded;
    font-size: 68px;
    font-weight: 800;
    line-height: 150%;
    color: white;
}

.d_first_right_style{
    font-family: avenir-black, Helvetica, sans-serif;
    text-transform: lowercase;
    font-stretch: expanded;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    letter-spacing: 1px;
}

.d_first_right {
    margin-left: 30px;
    width: 60%;
    float: left;
    height: 260px;
    position: relative;
    /*border: 1px solid;*/
    
}

.d_first_middle{
    width: 5%;
    position: relative;
    float: left;
    height: 250px;
    margin-left: 10px;
    /*border: 1px solid;*/
}
.d_parent{
    margin-top: 150px !important;
}

.d_left{
    width: 20%;
    height: 300px;
    float: left;
    position: relative;
    
}
.d_left_style{
    font-family: avenir-black, Helvetica, sans-serif;
    text-transform: lowercase;
    font-stretch: expanded;
    font-size: 50px;
    font-weight: 800;
    line-height: 108%;
    color: white;
}
.d_right_style{
    font-family: avenir-medium, Helvetica, sans-serif;
    font-stretch: expanded;
    text-transform: lowercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
    color: white;
    letter-spacing: 1px;
}
.d_right{
    margin-left: 50px;
    width: 60%;
    float: left;
    height: 300px;
}

.d_middle{
    width: 5%;
    position: relative;
    float: left;
    height: 300px;
}

.d_parent{
    max-width: 100%;
    margin: auto;
}

.clearfix {
    overflow: auto;
}

.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 60%;
  background: grey;
  top: 15%;
  box-shadow: 0px 0px 30px 20px grey;
}

.center_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 12rem;
    filter:brightness(130%);
}

/* skew 
.skew {
  background: #990000;
  display: inline-block;
  text-align: center;
    width: 200px;
  height: 500px;
    margin-left: 50px;
  transition: 0.3s;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}
.skew span {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.3s;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}*/

/* Slide Content Ends */

/* Menu Animation Starts*/
svg {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

line {
  stroke-width: 4.5;
}

/* Menu Animation Ends*/

.parent{
    max-width: 1200px;
}
/* First Slide Design Starts */

.top_image{
    position: absolute; 
    margin: 0.5rem 1rem; 
    height: 4rem; 
    width: 4.5rem;
}
.top_image_style{
    padding: .5rem;
}

.first_section{
    margin-top: 11rem;
    
}
.first_heading{
    padding: .8rem 0;
    font-family: avenir-black;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: .7;
    letter-spacing: 1.2;
    text-transform: uppercase;
    text-align: right;
    
}
.f_h_white{
    color: white;
}
.f_separator{
    float: left;
    padding: 3.2rem 0;
    border-right: 3px solid white;
}
.first_text_section{
    margin-left: -4rem !important;
    padding: 0 0;
}
.f_t_s_style{
    line-height: 1.5;
    text-align: justify;
    font-family: avenir-medium;
    font-size: 1.2rem;
    color: black;
}
.first_image{
    margin-top: 3rem;
    
}
/* First Slide Design Ends*/
/* Second Slide Design Starts*/
.second_header{
    margin: 1rem 1rem;
    padding: .8rem 0;
    font-family: avenir-black;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    line-height: .7;
    letter-spacing: 1.2;
    text-transform: uppercase;
}
.s_black{
    color: black;
}
p.second_content{
    margin: 0.2rem 1rem;
    line-height: 1.4;
    text-align: justify;
    color: black;
    font-family: avenir-medium;
    font-size: 1.2rem;
    color: black;
}
/* Second Slide Design Ends*/

/* Third Slide Design Starts*/

.third_heading{
    margin: 13rem 1rem 1rem 1rem;
    text-align: right;
     font-family: avenir-black;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: .7;
    letter-spacing: 1.2;
    text-transform: uppercase;
}

.t_h_1_black{
    color: black;
}
.t_h_2_white{
    color: white;
}
.t_h_3_white{
    color: white;
}
.t_hr{
    display: block;
    width: 6rem;
    margin-top: 2rem;
    margin-right: 0;
    border-top: 2px solid #ffff;
}
.third_text{
    margin-top: 22rem;
    padding: 0 1rem;
}
.t_text_design{
    line-height: 1.3;
    text-align: justify;
    font-family: avenir-medium;
    font-size: 1.2rem;
    color: white;
}
/* Third Slide Design Ends*/


/* Fourth Slide Design Starts*/

.fourth_1{
    margin-top: 15rem;
}
.fourth_2{
    margin-top: 16rem;
}
.fourth_3{
    margin-top: 14rem;
}
.fourth_content{
    padding: 0 0.2rem;
}
.f_c_style{
    line-height: 1.3;
    text-align: justify;
    font-family: avenir-medium;
    font-size: 1.2rem;
    color: white;
}

.f_heading{
    margin-left: -4rem !important;
    padding: 0 0;
    font-family: avenir-black;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: .7;
    letter-spacing: 1.2;
    text-transform: uppercase;
    text-align: left;
}
.fo_white{
    color: white;
}
.fo_separator{
    float: left;
    padding: 4rem 0;
    border-right: 2px solid white;
}

.slider_image4{
    margin-top: 80px;
    /*height: 450px;
    width: 450px;*/
}
/* Fourth Slide Design Ends*/

.sixth_heading{
    font-family: avenir-black;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: .7;
    letter-spacing: 1.2;
    text-transform: uppercase;
}
.sixth_h_black{
    color: white;
}
.sixth_text{
    padding: 3rem 0rem;
    text-align: justify;
    margin-right: 2rem;
    
}
.s_text_design{
    line-height: 1.3;
    font-family: avenir-medium;
    font-size: 1.2rem;
    color: white;
}
.whole-img{
    transform: scaleY(.75);
}
.b_body{
     background-color: black;
  width: 100%;
  height: 100%;
}
.b_body .slides,
html > .dg,
.b_body > .dg {
  display: none;
}
