/*Styles for slider*/
.first_slide{
    background-color: #f8d41f
}
.second_slide{
    background-color: #3e9fe6;
}
.third_slide{
    background-color: #f64f37;
}
.fourth_slide{
    background-color: #424242
}
.carousel-indicators li{
    margin-top: 20px;
    height: 6px;
    width: 10px;
}
.carousel-item{
    height: 100vh;
}
.slider_image{
    margin-top: 180px;
    height: 450px;
    width: 450px;
}
.flex__content{
    margin-top: 100px;
    margin-left: 80px;
    width: 80%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}
.text--big{
    width: 600px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
}
.text--normal{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-top: 25px;
}
.text__background{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 72px;
    bottom: 0;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
}

/*Styles for scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
/*Styles for bait makers*/
.bait_makers_intro_container{
    width: 100%;
    height: 100vh;
    background-color: #ffd504;
}
.bait_makers_intro_text{
    width: 45%;
    height: auto;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}
.bait_makers_intro_text h1{
    font-size: 5rem;
}
.bait_makers_intro_text p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
.bait_makers_container{
    width: 100%;
    height: 100vh;
    background-color: #242424;
    color: #ffffff;
}
.bait_makers_photo_container{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}
.bait_makers_photo_container img{
    height: 190px;
    width: 190px;
}
.bait_makers_left1{
    text-align: right;
    width: 60%;
    float: left;
}
.bait_makers_left1_img{
    width:40%;
    float: left;
}
.bait_makers_brief{
    font-size: 12px;
}
.bait_makers_right1{
    text-align: left;
    width: 60%;
    float: left;
}
.bait_makers_right1_img{
    width: 40%;
    float: left;
}