<!DOCTYPE html>
<html lang="en" >

    <head>
        <title>Crew</title>
        <meta charset="UTF-8">
        <title>our team showcase</title>
        <link href="https://fonts.googleapis.com/css?family=Karla|Yeseva+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="only screen and (orientation: portrait) and (min-width: 240px) and (max-width: 374px)"  href="small-devices.css">
        <link rel="stylesheet" type="text/css" media="only screen and (orientation: portrait) and (min-width: 375px) and (max-width: 667px)"  href="iphone6.css">
        <link rel="stylesheet" type="text/css" media="only screen and (orientation: landscape) and (min-width: 480px) and (max-width: 640px)"  href="small-devices-landscape.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>

        <link rel="stylesheet" href="css/captain.css">
        <link type="text/css" rel="stylesheet" href="css/omi_style.css">
        <link  type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link  type="text/css" rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/anglers.css">
        <link  type="text/css" rel="stylesheet" href="css/style.css">

    </head>

    <body>
        <div class="navigation">
            <div class="burger_deluxe">
                <span class="burger_global top_bun"></span>
                <span class="burger_global patty"></span>
                <span class="burger_global bottom_bun"></span>
            </div>
            <div> <a href="http://omnispace.co/n/"><img style="position: absolute; top: 15px; left: 15px; height: 60px; width: 70px;" src="images/mighty.png"></a></div>	
        </div>
        <div class="overlay">
            <div style="margin-left: 55px; margin-top: 55px;">
                <!--<img src="images/mighty.png"> -->
            </div>
            <div class="link-wrapper">
                <svg></svg>


                <div class="float_center">
                    <ul class="child">
                        <li><a href="index.html"><span>Home</span></a></li>
                        <li><a href="crew.html"><span>Crew</span></a></li>
                        <!--
<li><a href="#reel"><span>How We Reel Them In</span></a></li>
-->
                        <li><a href="work.html"><span>Our Catch</span></a></li>
                        <!--<li><a href="#"><span>Trophies</span></a></li>-->
                        <li><a href="client.html"><span>Fishing Expeditions</span></a></li>
                        <li><a href="index.html#form"><span>Want to Fish?</span></a></li>
                    </ul>
                             <div class="child" style="margin-top: 4rem; margin-left: 6rem;">
            <img src="images/fb.png" style="float: left; padding: 5px; height: 3em; width: 3rem;">
            <img src="images/twitter2.png"  style="float: left; padding: 5px; height: 3rem; width: 3rem;">
            <img src="images/instagram.png"  style="float: left; padding: 5px; height: 3rem; width: 3rem;">
        </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>



            </div> <!-- //link-wrapper -->
        </div> <!-- //overlay -->

        <div :class="['Crewcontainer', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']" id="app">
            <div class="team-container">
                <div class="CaptainHeader wow slideInLeft">
                    <h2 class="CaptainHeader-title ">The Captains</h2>
                </div>
                <div class="person-list">
                    <div class="person" v-for="(person,index) in persons" @click="selectPerson(index,$event)"><img class="person-img" :src="person.photo">
                        <div class="person-details">
                            <h2 class="person-title">{{person.name}}</h2>
                            <p class="person-desc">{{person.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-detail">
                <div class="team-detail-inner" v-if="isOk">
                    <div class="team-detail-left" :style=`background-image:url(${selectedPersonData.photo})`>
                        <div class="team-detail-photo"><img :src="selectedPersonData.photo" alt="">
                        </div>
                    </div>
                    <div class="team-detail-right">
                        <div class="team-detail-bio">
                            <div class="team-detail-header">
                                <h2 class="person-title">{{selectedPersonData.name}}</h2>
                                <p class="person-desc">{{selectedPersonData.title}}</p>
                                <div class="social">
                                    <a :href="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
                                    <a :href="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
                                    <a href="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
                                </div>
                            </div>
                            <div class="team-detail-bio-content" v-html="selectedPersonData.bio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--    Bait Makers MAin page  Starts -->

        <div class="container">

            <div class="bait_makers_container"  style="margin-bottom: 3rem;">
                <div class="CaptainHeader wow slideInRight">
                    <h2 class="CaptainHeader-title ">The Baitmakers</h2>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-5 offset-sm-2 col-sm-4">
                        <div class="box">
                            <img src="images/nabila.png" class="img-responsive rounded">
                            <div class="content">
                                <h4>Nabila Basher</h4>
                                <p>Associate Creative Director<br>10 Years Experience</p>
                                <p>A creative soul. Loves to create, conceptualize, and ideate. Worked with grameenphone, robi, coca-cola, prothom alo, afbl, brac bank ltd, apex etc.</p>

                            </div>
                        </div>
                    </div>

                    <div class="offset-md-1 col-md-5 offset-sm-2 col-sm-4">
                        <div class="box">
                            <img src="images/muhaimen.png" class="img-responsive rounded">
                            <div class="content">
                                <h3>Muhaimen Siddique</h3>

                            </div>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-5 offset-sm-2 col-sm-4">
                        <div class="box">
                            <img src="images/aloka.png" class="img-responsive rounded">
                            <div class="content">
                                <h3>Aloka Chowdhury</h3>

                            </div>
                        </div>
                    </div>

                    <div class="offset-md-1 col-md-5 offset-sm-2 col-sm-4">
                        <div class="box">
                            <img src="images/ajaz.png" class="img-responsive rounded">
                            <div class="content">
                                <h3>Ajaz Khan</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Bait Makers Main page  Ends -->

        <div class="CaptainHeader wow bounceInDown">
            <h2 class="CaptainHeader-title ">The Anglers</h2>
        </div>

        <div class="bubbles">


  <div class="row teamrow3">
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A1.jpg"><br>
              
                <h2 class="name">ABU SYEED</h2>
                <p class="title">DIGITAL MEDIA SPECIALIST</p>
                
            </div>
      
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A2.jpg"><br>
              
                <h2 class="name">MD ASHIQUL ISLAM</h2>
                <p class="title">DIGITAL MEDIA SPECIALIST</p>
                
            </div>
                   
            
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A5.jpg"><br>
              
                <h2 class="name">SHEHAB RAHMAN</h2>
                <p class="title">CREATIVE DESIGNER</p>
                
            </div>
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A8.jpg"><br>
              
                <h2 class="name">ASHSAN SAJID</h2>
                <p class="title">COPY LEAD</p>
                
            </div>
          </div>
      
      <!--Row 2-->
             
  <div class="row teamrow3">
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A9.jpg"><br>
              
                <h2 class="name">REHAL FERDOWS SHAHS</h2>
                <p class="title">COPYWRITER</p>
                
            </div>
      
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A11.PNG"><br>
              
                <h2 class="name">SUMAIA HOSSAIN SEOUL</h2>
                <p class="title">DIGITAL BRAND EXECUTIVE</p>
                
            </div>
                   
            
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A12.jpg"><br>
              
                <h2 class="name">AFRIDA ZAMAN ARNEY</h2>
                <p class="title">DIGITAL BRAND EXECUTIVE</p>
                
            </div>
                   
            <div class="wow zoomInDown col-md-3 col-xs-6">
              <img class="pic" src="images/A1.jpg"><br>
              
                <h2 class="name">ABU SYEED</h2>
                <p class="title">DIGITAL MEDIA SPECIALIST</p>
                
            </div>
          </div>


        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/TweenMax-latest-beta.js?v=59'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ModifiersPlugin-latest-beta.js'></script>
        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/omi.js"></script>
        <script src="js/burger.js"></script>
        <script  src="js/index.js"></script>
        <script src="js/app.js"></script>
        <script  src="js/particles.js"></script>
        <script src="js/wow.min.js"></script>
        <script>new WOW().init();</script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js'></script>
        <script  src="js/particles.js"></script>
        <script>new WOW().init();</script>
        <script  src="js/captain.js"></script>
        <script  src="js/anglers.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>




    </body>

</html>
